*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }
  
  .body-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .container{
    background:#FAFAFA;
    padding:36px 60px;
    z-index: 1;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    height:92vh;
    margin:15px 0;
  } 
  
  .overlay{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#E5E5E5;
    width:100vw;
    height:100vh;
  }
  /* .outer-container{
    position:relative;
  } */
  .close-btn{
    border: 1px solid rgb(245, 245, 245);
    background:white;
    border-radius: 50%;
    position: absolute;
    top:1%;
    right: 25.5%;
    cursor: pointer;
    padding:5px;
    font-weight: 800;
  }
  .shift-heading{
    margin-bottom: 20px;
    font-size: 36px;
  }
  /* select by employee or date */
  .select-employee-options{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .department-section, .date-section, .employee-section{
    display: flex;
    flex-direction: column;
    width:20vw;
    /* margin-right: 40px; */
  
  }
  .department-section>select{
    background: rgba(121, 121, 121, 0.12);
    width:180px;
    height:38px;
    border: none;
    outline: none;
  }
  .department-section>select>option {
    font-size:13px;
    display:block;
    padding:120px;
  }
  .employee-section>select{
    background: rgba(121, 121, 121, 0.12);
    width:29vw;
    height:38px;
    border: none;
    outline: none;
  }
  .dropdown *{
    position:relative;
    display: inline-block;
  }
  .dropdown-content{
    padding:20px;
    margin-bottom: 12px;
  }
  .date-section>input{
    background: rgba(121, 121, 121, 0.12);
    width:120px;
    height:38px;
    border: none;
    outline: none;
   
  }
  .department-section>label,.employee-section>label, .date-section>label{
    margin-bottom: 15px;
    font-size:14px;
  }
  .time-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px 0 40px 0;
  }
  .time>p{
    margin-bottom: 15px;
    font-size:14px
  }
  .time>h3{
    font-size:18px;
  }
  
  .employee-section{
    margin-top: 20px;
  }
  .shift-setting>h2{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  .shift-setting>p{
    font-size: 12px;
    margin: 10px 0 20px 0;
  }
  .shift-option{
    display: flex;
  }
  .shifts{
    margin-right: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .shifts>label{
    font-size: 14px;
  }
  /* .days-section{
   padding: 20px 0;
  } */
  .days-section>ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
  }
  .day-list>li{
      border: 1px solid #30C67E;
      color: #30C67E;
      padding-left: 5px;
      padding-bottom: 12px;
      border-radius: 50%;
      background-color: white;
      width:25px;
      height:25px;
      cursor: pointer;
    }
  /* toggle */
  input[type="checkbox"] { 
    filter: invert(5%) hue-rotate(-60.5deg) brightness(1.3);
    transform: scale(1.5);
    margin: 0 10px 0 0;
  
  }
  .toggle-btn{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .toggle-btn>label{
    font-size: 12px;
  }
  .switch {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  .switch-input {
    display: none;
  }
  .switch-label {
    display: block;
    width: 33px;
    height: 18px;
    text-indent: -150%;
    clip: rect(0 0 0 0);
    color: transparent;
    user-select: none;
  }
  .switch-label::before,
  .switch-label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
  }
  .switch-label::before {
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 9999em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
  }
  .switch-label::after {
    top: 2px;
    left: 0px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease;
  }
  .switch-input:checked + .switch-label::before {
    background-color: #30C67E;
  }
  .switch-input:checked + .switch-label::after {
    left: 17px;
  }
  .btn{
    padding: 10px;
    border: none;
    width:15vw;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .create-btn{
    background:#30C67E;
    color:white;
  }
  .create-btn:hover{
    background:#5cd199;
    transition:background 1s ease;
  }
  .cancel-btn{
    border:1px solid #C63030;
    color:#C63030;
    background-color: #FAFAFA;
  }
  .cancel-btn:hover{
    background:#C63030;
    color:white;
    transition:background 1s ease;
  
  }
  
  /* Media Queries */
  @media screen and (max-width: 1150px)and (min-width:750px) {
  
    .department-section>select{
        width:150px;
    }
    .container{
        padding:25px 40px;
        height:95%;
        width: 60vw;
    }
  
  }
  @media screen and (max-width: 760px) and (min-width:320px) {
    .shift-heading{
      margin-bottom: 20px;
      font-size: 28px;
    }
    .container{
        padding:25px 40px 10px 40px;
        height:85%;
        width: 60vw;
    }
    .close-btn{
        top: 6%;
        right:20%;
    }
    .department-section>select, .date-section>input{
        width:100px;
        height:35px;
    }
    .employee-section>select{
      width:180px;
      height:35px;
    }
    .department-section>label,.employee-section>label, .date-section>label{
      margin-bottom: 12px;
      font-size:12px;
    }
    .time-section{
      margin: 10px 0 20px 0;
    }
    .time>p{
      margin-bottom: 15px;
      font-size:13px
    }
    .time>h3{
      font-size:16px;
    }
    
    .employee-section{
      margin-top: 16px;
    }
    .shift-setting>h2{
      font-size: 16px;
    }
    .shift-setting>p{
      margin: 8px 0 10px 0;
    }
    .shifts>label{
      font-size: 12px;
    }
    .shifts{
      margin-right: 20px;
      margin-bottom: 10px;
    }
  
    
  
    /* toggle */
    input[type="checkbox"] { 
      transform: scale(1.0);
    }
    .toggle-btn{
      margin-bottom: 15px;
      margin-top: 5px;
    }
    
  }
  @media screen and (max-width: 320px)and (min-width:200px){
    .container{
      padding:35px 40px;
      height:92%;
      width: 90vw;
      /* display:none; */
    }
    .close-btn{
      top: 2%;
      right:10%;
  }
    .shift-heading{
      margin-bottom: 10px;
      font-size: 24px;
    }
    .department-section>select, .date-section>input{
      width:80px;
    }
      .employee-section>select{
      width:200px;
    }
    .toggle-btn{
      margin-bottom: 10px;
      margin-top: 1px;
    }
    .btn{
      width:25vw;
    }
  }