@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(4, 4, 4, 0.25);
    font-family: lato;
    height: 100vh;
}
.popup{
    position: absolute;
    background-color:#F6F6F6;
    top: 30%;
    left: 35%;
    
    width: 400px;
    padding: 20px 40px;
}
.popup .close-btn {
    position: absolute;
    top: -50px;
    right: 10px;
    background-color: #F6F6F6;
    border: 1px solid rgb(236, 230, 218);
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    

}
.popup .form h2{
    
    padding: 10px 4px;
    font-size: 25px;
    color: #000000;
}
.popup .form .form-element{
    margin: 15px 0px;

}
.popup .form .form-element label{
    font-size: 12px;
    color: rgb(34, 32, 32);

}

.popup .form .form-element input{
    margin-top: 5px;
    display: block;
    width: 100%;
    background-color: #e9e8e8b7;
    padding: 10px;
    border: none;
    border-radius: 5px;

}
.popup .buttons button{
    width: 40%;
    padding: 12px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 5px;
}
#reasons{
    
    height: 150px;
    text-align: left;
    
    
}




#one{
    background-color: #00BB7C;
    color: white;

}
#two{
    background-color: rgb(253, 249, 249);
    border: 1px solid rgb(230, 135, 135);
    color: rgb(241, 120, 120);
}
