.nav_bar{
    background: rgba(231, 231, 231, 0.17);
    position: absolute;
    left: 18.75%;
    right: 1%;
    top: 8.8%;
    bottom: 78.4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

h1{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 52px;
}

button{
    background: white;
    color: red;
    box-sizing: red;
    width: 138px;
    height: 56px;
    font-size: 14px;
    font-weight: bold;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
}