/* .App { 
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
} */
/*
.cs-left {
  /* left: 0; 
}

.cs-right {
  /* right: 0; 
  margin-left: 800px;
}
.cs-name {
  position: absolute;
  left: 9.58%;
  right: 86.67%;
  top: 5.89%;
  bottom: 91.89%;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 20px;
  /* identical to box height, or 80% 

  letter-spacing: -0.06em;

  color: #1b1b1d;
}

.cs-built {
  position: absolute;
  left: 6.94%;
  right: 81.46%;
  top: 39.78%;
  bottom: 57.67%;

  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height 

  color: #4f5954;
}
.cs-head {
  position: absolute;
  left: 6.94%;
  right: 45.07%;
  top: 20.67%;
  bottom: 62.44%;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 76px;
  color: #000000;
}

.cs-button {
  position: absolute;
  width: 216px;
  height: 60px;
  left: 100px;
  top: 421px;
  background: #30c67e;
  color: #ffffff;
  border-radius: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
