<<<<<<< HEAD
@media (max-width: 500px) {
  .Management-container {
    display: none;
  }
  .mobileadminview {
    display: block;
  }
}

@media (min-width: 500px) {
  .Management-container {
    display: flex;
  }
  .mobileadminview {
    display: none;
  }
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> c860b74556a0e14c3936f46f37c2bf2c1f076a97
