/*font-family: 'Lato', sans-serif;*/

* {margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
  }
  
  .search-area {
    display: flex;
    position: relative;
  }
  
  .search-area .iconn {
    padding-top: 1em;
    text-align: center;
    position: absolute;
    right: 20px;
    color: #30C67E;
  }
  
  
  .logo img {
    margin-right: 2em;
    padding-top: 0.3em;
  }
  
   input {
     margin-left: 40em;
     padding: 0.5em;
     width: 500px;
     background-color: #F8F8F9;
     border: none;
     border-radius: 5px;
     outline: none;
     font-family: 'Lato', sans-serif;
  }

  .two {
    display: flex;
  }
  
  .area2 {
    padding-top: 0.7em;
    margin-right: 2em;
  }


  a:link {
    text-decoration: none;
    cursor: pointer;
  }

  a i {
    color: #30C67E;
  }
  
  
  
  .area4 {
    padding-top: 0.5em;
  }


@media only screen and (max-width:600px){
  input {
    margin-left: 0px;
    margin-left: 0%;
    width: 200px;
    padding: 0.5em;
    font-size: 10px;
  }

  header {

    margin-left: 0%;
    margin-left: 0px;
    
  }

 

  .logo img {
    width: 80px;
    margin-right: 1em;
    margin-left: 2em;
    padding-top: 0.3em;
  }

  .area2 img {
    display: none; 
}

.part3 img {
  display: none;
}


}