/*font-family: 'Lato', sans-serif;*/

* {margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  
  }
  
  header {
    display: flex;
<<<<<<< HEAD
    justify-content: space-around;
    padding-top: 1em;
    margin-left: 2em;
=======
    justify-content: space-between;
    padding-top: 1em;
    margin-left: 3em;
>>>>>>> 152b37d52b1e68db46cbe560bead02306dc56549
    margin-right: 3em;
  }
  
  .search-area {
    display: flex;
    position: relative;
  }
  
  .search-area .iconn {
    padding-top: 1em;
    text-align: center;
    position: absolute;
    right: 20px;
    color: #30C67E;
  }
  
  
  .logo img {
    margin-right: 2em;
    padding-top: 0.3em;
  }
  
   input {
<<<<<<< HEAD
     margin-left: 8em;
=======
     margin-left: 40em;
>>>>>>> 152b37d52b1e68db46cbe560bead02306dc56549
     padding: 0.5em;
     width: 500px;
     background-color: #F8F8F9;
     border: none;
<<<<<<< HEAD
     border-radius: 12px;
     outline: none;
     font-family: 'Lato', sans-serif;
  }
  
  .area2 {
    padding-top: 0.7em;
    margin-left: 5em;
  }
  
  .firstp {
    padding-top: 0.5em;
    color: #B8003C;
    font-family: 'Lato', sans-serif;
  }

=======
     border-radius: 5px;
     outline: none;
     font-family: 'Lato', sans-serif;
  }

  .two {
    display: flex;
  }
  
  .area2 {
    padding-top: 0.7em;
    margin-right: 2em;
  }


>>>>>>> 152b37d52b1e68db46cbe560bead02306dc56549
  a:link {
    text-decoration: none;
    cursor: pointer;
  }

  a i {
    color: #30C67E;
  }
  
  
<<<<<<< HEAD
  .area3 img {
    width: 20px;
    padding-top: 0.5em;
    margin-left: 3em;
  }
  
  
  
  .part3 {
  }
  
  .p2 {
    padding-top: 0.5em;
    font-family: 'Lato', sans-serif;
  }
  
  .area4 {
    padding-top: 0.5em;
  }
=======
  
  .area4 {
    padding-top: 0.5em;
  }


@media only screen and (max-width:600px){
  input {
    margin-left: 0px;
    margin-left: 0%;
    width: 200px;
    padding: 0.5em;
    font-size: 10px;
  }

  header {

    margin-left: 0%;
    margin-left: 0px;
    
  }

 

  .logo img {
    width: 80px;
    margin-right: 1em;
    margin-left: 2em;
    padding-top: 0.3em;
  }

  .area2 img {
    display: none; 
}

.part3 img {
  display: none;
}


}
>>>>>>> 152b37d52b1e68db46cbe560bead02306dc56549
