/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.side-bar {
  width: 270px;
  background: #ffffff;
  padding: 6px 16px;
  position: absolute;
  left: 0;
  top: 0;
}

.home-content {
    position: relative;
    background: #FCFCFC;
    min-height: 1000px;
    height: 100%;
    top: 0;
    left: 270px;
    width: calc(100% - 270px);
    transition: all 0.5s ease;
    z-index: 2;
}

/* Styling */

.side-bar .logo-content .logo {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

.side-bar .side-bar-list {
  padding: 0;
  margin-top: 5px;
}

.side-bar .side-bar-list li {
  position: relative;
  height: 50px;
  width: 100%;
  line-height: 50px;
}

.side-bar .side-bar-list li a {
  display: flex;
  align-items: center;
  transition: all 0.4s;
  border-radius: 12px;
  color: #999999;
  line-height: 28px;
  font-weight: 400;
}

.side-bar .side-bar-list li a:hover {
  background: rgba(0, 184, 124, 0.1);
  color: #00b87c;
}

.side-bar .side-bar-list li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-list {
  display: block;
  
}

/* .show {
    display: none;
} */

.dropdown-list-items {
  margin-left: 1.7rem;
}

.side-bar .profile-content {
  color: #999999;
  bottom: 0;
  left: 0%;
}

.side-bar .profile-content .profile {
  position: relative;
  padding: 6px;
  height: 60px;
  margin-left: 0.8rem;
}

.profile-content .profile .profile-details {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.profile-details img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-details .name {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 400;
}

/* NavBar */
nav {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.search-box {
  position: absolute;
  left: 85%;
}

.search {
  margin-left: 2rem;
  padding: 0 20px;
  position: relative;
}

.search-box input {
  position: absolute;
  right: 0;
  top: 0;
  width: 390px;
  height: 32px;
  padding: 10px;
  padding-right: 60px;
  background: rgba(255, 255, 255, 0.4);
  border: 0.8px solid rgba(153, 153, 153, 0.2);
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  color: #ffffff;
  font-size: 15px;
}

.search-box .bx-search {
  position: absolute;
  left: 12.5%;
  right: 25%;
  top: 2.5%;
  margin: 10px;
}

.nav-items .nav-profile {
  position: absolute;
  right: 0;
}

.nav-items .nav-profile .nav-profile-details {
  display: flex;
  align-items: center;
}

.nav-items .nav-profile .nav-profile-details i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.nav-items .nav-profile .nav-profile-details img {
  object-fit: cover;
}

/* Dashboard Styling */

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Dashboard Header */

.dashboard-header {
  padding: 0 1rem;
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(231, 231, 231, 0.17);
  margin-bottom: 2rem;
}

.dashboard-header .dashboard-heading {
  display: flex;
  align-items: center;
}

.dashboard-header .dashboard-heading h1 {
  margin-right: 2rem;
  font-size: 45px;
  font-weight: 700;
}

.users-images {
  position: relative;
  box-sizing: border-box;
  margin-top: 2rem;
}

.users-images img:nth-child(1) {
  position: absolute;
  left: -23%;
  top: -28%;
  z-index: 99;
}

.users-images img:nth-child(2) {  
  z-index: 1;
  left: 10%;
}

.users-images img:nth-child(3) {
  position: absolute;
  left: 33%;
  top: -28%;
  z-index: -1;
}

.users-images img:nth-child(4) {
  z-index: -10;
}

.users-images img:nth-child(5) {
  position: absolute;
  left: 85%;
  top: -28%;
  z-index: -15;
}

.shift-profile {
  position: relative;
}

.shift-profile .user-shift-profile {
  position: absolute;
  width: 327px;
  height: 90px;
  left: -10%;
  top: 12%;
  background: rgba(255, 255, 255, 0.89);
  box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.05), 3px 3px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  z-index: 99;
}

.user-shift-profile .user-shift-profile-details {
  display: flex;
  align-items: center;
  padding: 12px 0;
  position: relative;
}

.user-shift-profile-details .user-shift-close-icon {
  position: absolute;
  left: -6%;
  top: -15%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(198, 48, 48, 0.92);
  display: flex;
  align-items: center;
}

.user-shift-profile-details .user-shift-name {
  font-size: 14px;
  line-height: 20px;
  padding: 0 5px;
  color: #7B8994
}

.user-shift-profile-details .user-shift-name h5 {
  margin-bottom: 8px;
}

.user-shift-profile-details .user-shift-name h5 a {
  color: #1A61DB;
}

.user-shift-profile-details .user-shift-name h5 span {
  display: inline-block;
}

.user-shift-profile-details .user-shift-close-icon i {
  margin: auto;
  color: #ffffff;
  font-size: 1rem;
}

.user-shift-profile-details .user-shift-image {
  width: 73px;
  height: 73px;
  left: 0;
  top: 0;
  background: url('images/profile.png'), 
              radial-gradient(50% 50% at 50% 50%, 
              #7B8994 0%, rgba(123, 137, 148, 0) 
              82.94%);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 20px 0 10px;
}

.shift-buttons button {
  width: 150px;
  height: 56px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #ffffff;
  color: #30c67e;
  border: 1px solid #30c67e;
  border-radius: 3px;
  margin-right: 10px;
}

.shift-buttons button:nth-child(2) {
  background: #30c67e;
  color: #ffffff;
}

/* Dashboard Main Content */

.dashboard-main-content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.dashboard-main-content .dashboard-main-content-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}

.dashboard-main-content .dashboard-main-content-heading form select {
  /* width: 130px; */
  height: 56px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  background: #ffffff;
  color: #0F0627;
  border: 1px solid #E8F0FF;
  border-radius: 3px;
  margin-right: 10px;
}

.dashboard-main-content-heading-schedule {
  position: absolute;
  left: 63%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-main-content-heading-schedule .weekly {
  background: #FFFFFF;
  color: #0F0627;
  font-weight: 600;
  border-radius: 3px;
  padding: 6px 18px;
  margin: 0 20px;
  align-items: center;
}

.dashboard-main-content-heading-schedule .time {
  font-size: 18px;
  line-height: 22px;
  margin: 0 20px 0 15px;
  color: #000000;
  font-weight: 600;
}

.dashboard-main-content-heading-schedule .schedule-shift {
  background: #FFFFFF;
  color: #0F0627;
  font-weight: 600;
  padding: 8px; 
  box-shadow: 1px 2px 16px rgba(136, 136, 136, 0.07);
  border-radius: 12px;
  font-size: 22px;
}

.dashboard-main-content-body {
  width: 100%;
}

.dashboard-main-content-body table {
  border-collapse: collapse;
  width: 100%;
}

.dashboard-main-content-body table tr {
  padding: 0;
  width: 100%;
  height: 62px;
}

.dashboard-main-content-body table tr th {
  padding: 20px 5px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #999999;
}

.dashboard-main-content-body table tr th h5 {
  margin-bottom: 5px;
}

.dashboard-main-content-body table tr th span {
  color: #000000;
}

.dashboard-main-content-body table tr th:nth-child(1) {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.shifts {
  width: 143px;
  height: 55px;
  background: #E4FFF2;
  border-radius: 3px;
  padding: 10px 8px;
  font-size: 11px;
  font-family: 'Euclid Circular A';
  margin-right: 8px;
  display: flex;
  flex-direction: column;
}

.shift-status, .shift-duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 15px;
  margin-bottom: 8px;
}

.shift-status .on-duty {
  color: #00AF5B;
}

.shift-status .off-duty {
  color: #A5A5A5;
}

#off-duty {
  background: #E8F0FF;
}

#await {
  background: #FFFCE2;
}

#ended {
  background: #FFE5E5;
}

.shift-status .ended-shift {
  color: #FF4550;
}

.shift-profile-details {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 155px;
}

.shift-profile-details img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.shift-profile-details .name {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #000000;
}

