*body{
    margin: 0;
    padding: 0;
    font-family: lato;
}
select{
padding: 10px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* white */

background: #FFFFFF;
border: 1px solid #E8F0FF;
box-sizing: border-box;
border-radius: 3px;
margin-right: 20px;
}
#Departments{
    /* Departments */
left: 16px;
top: calc(50% - 17px/2 - 0.5px);

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */


/* Black */

color: #0F0627;

}
.All_status{
    /* All Status */
    left: 20px;
    top: calc(50% - 17px/2 - 0.5px);
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    /* Black */
    
    color: #0F0627;
}
.All_shifts{
    /* All Shifts */
left: 20px;
top: calc(50% - 17px/2 - 0.5px);

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */


/* Black */

color: #0F0627;

}
input{
    float: right;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    /* white */
    
    background: #FFFFFF;
    border: 0.6px solid #30C67E;
    box-sizing: border-box;
    border-radius: 3px;
    color: #30C67E;
    padding: 5px 20px 5px 20px;
    }