*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.btn-openModal{
    border:none;
    outline:none;
    cursor:pointer;
    margin-left: 70%;
    margin-top: 30px;
}