.swap-app {
  position: absolute;
  top: 244px;
  left: 290px;
  width: 1050px;
}

.swap-header {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  padding: 10px;
}
.swap-header h1 {
  font-size: 27px;
  text-align: start;
  padding: 10px;
  margin: 15px 10px 0px 10px;
}
.klareOptionBox {
  display: flex;
  flex-direction: row;
}
.klareOptionBox span {
  width: 138px;
  height: 58px;
  border: 1px solid #e8f0ff;
  text-align: center;
  margin-left: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.klareOptionBox span img {
  margin-left: 5px;
  margin-top: 4px;
}
.klareOptionBox button {
  margin-left: auto;
  font-size: 13px;
  height: 36px;
  width: 95px;
  padding: 10px 33px;
  background-color: #fff;
  border: 0.6px solid #30c67e;
  color: #30c67e;
  font-family: "Lato", sans-serif;
}
.klaredepartment,
.klareshifts,
.klarestatus {
  position: relative;
}
.dropdown-content-departments,
.dropdown-content-status,
.dropdown-content-shifts {
  position: absolute;
  top: 80px;
  left: 80px;
  z-index: 1;
  background-color: rgba(232, 240, 255, 0.8);
  text-align: center;
  cursor: pointer;
  display: none;
}
.dropdown-content-departments span,
.dropdown-content-status span,
.dropdown-content-shifts span {
  border-bottom: 1px solid #ebb957;
  margin: 0 !important;
}
.dropdown-content-departments span:hover,
.dropdown-content-status span:hover,
.dropdown-content-shifts span:hover {
  background-color: rgba(232, 240, 255, 1);
}
.klareshow {
  display: block;
}
